<div class="pcoded-content">

  <div class="page-header card">
  <div class="row align-items-end">
  <div class="col-lg-8">
  <div class="page-header-title">
  <i class="feather icon-home bg-c-blue"></i>
  <div class="d-inline">
  <h5>User Details</h5>
  <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
  </div>
  </div>
  </div>
  <div class="col-lg-4">
  <div class="page-header-breadcrumb">
  <ul class=" breadcrumb breadcrumb-title">
  <li class="breadcrumb-item">
  <a href="index.html"><i class="feather icon-home"></i></a>
  </li>
  <li class="breadcrumb-item"><a href="#!">User Details</a> </li>
  </ul>
  </div>
  </div>
  </div>
  </div>

  <div class="pcoded-inner-content">
  <div class="main-body">
  <div class="page-wrapper">
  <div class="page-body">
    <div class="row">
      <div class="col-md-11"></div>
      <div class="col-md-1">
        <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#large-Modal">Add User</button>
      </div>
    </div>
    <div class="row">
      <!-- <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner
          color="primary"
          mode="indeterminate">
        </mat-progress-spinner>
      </mat-card> -->

      <div *ngIf="isLoading" class="spinner"></div>
      <div class="dt-responsive table-responsive">



        <!-- <span>{{ (users | json) }}</span> -->
      <!-- <mat-accordion> -->
        <table id="search-api" class="table table-striped table-bordered nowrap">
        <thead>
        <tr>
          <th>SR. NO</th>
        <th>Name</th>
        <th >Email</th>
        <th >Contact</th>
        <th >Address</th>
        <th >Image</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngIf="!users"><td colspan="5" class="text-center">No Data available</td></tr>

<tr *ngIf="isLoading"><td colspan="5" style="padding: 45px;" class="text-center"><div class="spinner"></div></td></tr>

        <tr *ngFor="let val of users; let i=index;">
          <td>{{ (currentPage - 1) *  usersPerPage + i+1 }}</td>
          <td>{{val.name}}</td>
<td>{{val.email}}</td>
<td>{{val.contact}}</td>
<td>{{val.address}}</td>
<td>
  <img class="image-preview" [src]="val.image">
  </td>

        </tr>
           </tbody>
           <tfoot>
             <tr>
          <th>SR. NO</th>
              <th>Name</th>
              <th>Email</th>
              <th>Contact</th>
              <th>Address</th>
              <th>Image</th>
            </tr>
             </tfoot>
          </table>



        <!-- </mat-accordion> -->
        <mat-paginator [length]="totalUsers" [pageSize]="usersPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator>
        <!-- <app-pagination [pageCount1] ="usersPerPage" [currentPage1]="currentPage" (callPerent)="parentEvent($event)" ></app-pagination> -->

        </div>
      </div>


  </div>
  </div>
  </div>
  </div>
  </div>


  <div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title">Add User</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    <p>This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Save changes</button>
    </div>
    </div>
    </div>
    </div>
