
<nav class="pcoded-navbar" *ngIf="userIsAuthenticated">
  <div class="nav-list">
  <div class="pcoded-inner-navbar main-menu">
  <div class="pcoded-navigation-label">Navigation</div>
  <ul class="pcoded-item pcoded-left-item">
  <li class="">
  <a href="javascript:void(0)" routerLink="/dashboard" class="waves-effect waves-dark">
  <span class="pcoded-micon"><i class="feather icon-home"></i></span>
  <span class="pcoded-mtext">
    Dashboard</span>
  </a>

  </li>

  <li class="">
  <a href="javascript:void(0)" routerLink="/manage_product" class="waves-effect waves-dark">
  <span class="pcoded-micon"><i class="feather icon-list"></i></span>
  <span class="pcoded-mtext">
    Manage Product</span>
  </a>
  </li>

  <li class="">
  <a href="javascript:void(0)" routerLink="/manage_cateory" class="waves-effect waves-dark">
  <span class="pcoded-micon"><i class="feather icon-grid"></i></span>
  <span class="pcoded-mtext">
    Manage Category</span>
  </a>
  </li>

  <li class="">
  <a href="javascript:void(0)" routerLink="/manage_users" class="waves-effect waves-dark">
  <span class="pcoded-micon"><i class="feather icon-users"></i></span>
  <span class="pcoded-mtext">
    Manage Users</span>
  </a>
  </li>

  <li class="">
    <a href="javascript:void(0)" routerLink="/reports" class="waves-effect waves-dark">
    <span class="pcoded-micon"><i class="feather icon-trending-up"></i></span>
    <span class="pcoded-mtext">
      Reports</span>
    </a>
    </li>
</ul>


  </div>
  </div>
  </nav>


